
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"><link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcTWBMqAAAAAEtY30zw0JD5hRFsjAu0ViwE3FiX"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div id="box1">
        <div id="header"></div>
        <div id="box2">
            <div id="linkity" class="d-flex justify-content-start align-items-center">
                <!-- <button id="mute-button" class="btn btn-link p-0 mr-3" title="Mute/Unmute">
                    <i id="mute-icon" class="bi bi-volume-up"></i>
                </button> -->
                <a href="#" id="resume-tab" class="mr-3">Resume</a>
                <a href="#" id="portfolio-tab" class="mr-3">Portfolio</a>
                <!-- <a href="/kestrel" id="portfolio-tab" class="mr-3">Kestrel</a> -->
                <a href="#" id="github-tab" class="mr-3">GitHub</a>
                <a href="#" id="contacts-tab" class="mr-3">Contacts</a>
            </div>
            
            <div id="content">
                <!-- Content will be loaded here when tabs are clicked -->
            </div>
        </div>

        <div id="box3"></div>
    </div>
</body>
</html>

<!--This part is commented out for a reason :)-->